@media screen and (max-width: 1799px) {}


@media screen and (max-width: 1599px) {}

@media screen and (max-width: 1408px){}

@media screen and (max-width: 1216px) {
    .about-bg {
        left: -11%;
    }
    .desk-bg-img {
        top: 30%;
        left: 31.5%;
    }
}

@media screen and (max-width: 1180px){
    .about-bg {
        width: auto;
        left: -13%;
    }
    .theme-padding {
        padding-left: 60px;
        padding-right: 60px !important;
    }
    .padding-left{
        padding-left: 100px;
    }
    .desk-objects{
        display: block;
    }
    .pr-0{
        /* display: block; */
        padding-right: 0px !important;
    }
    .about-text {
        margin-right: 20px;
    }
    .about-text p {
       text-align:justify;
    }
    .baner-title {
        top: 45%;
    }
}


@media screen and (max-width: 1024px) {
    section{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .theme-padding{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .baner-title {
        top: 55%;
    }
    .desk-contant {
        position: relative;
        padding-left: 0px;
    }
    .bridge-img{
        display: flex;
        justify-content: center;
    }
    .hero-contant {
        position: absolute;
        top: 50%;
        max-width: 750px;
        left: 8%;
        transform: translateY(-50%);
    }
    .desk-bg-img {
        top: 30%;
        left: 35.5%;
    }
    .hero-title h1 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .hero-paragraph p {
        margin-bottom: 15px;
        font-size: 16px;
    }
    
}


@media screen and (max-width: 990px) {
    .hero-title h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }
    .hero-paragraph p {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .about-text {
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }
}


@media screen and (max-width: 880px){
    .desk-bg-img {
        top: 14%;
        left: 32.5%;
    }   
     .about-bg {
        width: auto;
        left: -15%;
    }
}



@media screen and (max-width: 768px){
    .hero-title h1 {
        font-size: 34px;
    }
    .about-text p {
        margin-bottom: 20px;
    }
    .hero-paragraph p {
        margin-bottom: 20px;
        font-size: 16px;
    }
    .about-text {
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }
   
}



@media screen and (max-width: 575px) {
    .baner-title h1 {
        font-size: 38px;
    }
    .about-text p {
        margin-bottom: 18px;
    }
    .hero-title h1 {
        font-size: 38px;
    }
    .hero-subtitle h3 {
        font-size: 18px;
    }
    .hero-paragraph p {
        font-size: 14px;
    }
    
    .hero-title h1 {
        font-size: 30px;
    }
    .hero-title h1 {
        margin-bottom: 10px;
    }
    .about-text {
        align-items: center;
        justify-content: center;
        margin-right: 0px;
    }
}


@media screen and (max-width: 480px) {
    .baner-title h1 {
        font-size: 30px;
    }
    .about-text p {
        font-size: 14px;
    }
    .about-bg {
        left: -28%;
    }
    .hero-title h1 {
        font-size: 28px;
    }
    .hero-subtitle h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }
    
}


@media screen and (max-width: 420px) {
    section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

}


@media screen and (max-width: 380px) {
    .theme-padding {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .hero-title h1 {
        font-size: 26px;
        margin-bottom: 0px;
    }
    .hero-subtitle h3 {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .hero-paragraph p {
        font-size: 12px !important;
    }
    .desk-bg-img {
        top: 46%;
        left: -32.5%;
    }

}

@media screen and (max-width: 360px) {
    
}